{% extends 'MajoredInMainBundle:Info:article.html.twig' %}

{% block title %}About Us - MajoredIn{% endblock %}

{% block meta %}
    <meta name="description" content="MajoredIn allows college students to search nearly a million entry level jobs and internships by their college major." />
    <meta name="keywords" content="job search engine, entry level jobs, job listings, find jobs, major, college major, recent graduate, about us" />
    <link rel="canonical" href="{{ url('mi_main_about') }}" />
{% endblock %}

{% block article %}

<h1 class="article-title">About Us</h1>
<p>MajoredIn allows college students to search for entry level jobs and internships by their major.
MajoredIn set out with the mission to create a realistic and simple approach for college graduates to start their careers.</p>

<p>This means a few things:
<ul>
    <li><strong>Simplicity</strong> - Because a student's major can tell so much about what they want in a job we made the job search as easy as entering your major.</li>
    <li><strong>Realism</strong> - Idealism in the job hunt can lead to more frustration than is necessary. We don't want people searching for jobs they are not qualified for or wouldn't want.</li>
    <li><strong>Entry level jobs</strong> - We do our best to ensure that every job and internship posted is intended for a current or recent college graduate.</li>
</ul>
</p>
<p>We hope to create the best tool for first time job hunters out there.
The best way we can do this is if we do it together. We want to hear from you about when you get an interview, when you find a job, or if you decide to change majors.
Please, connect with us through social media. We will be there listening, so please provide feedback and tell your friends about us!</p>

<p>Have more questions? Take a peek at our <a href="{{ path('mi_main_faq') }}">FAQ</a>.</p>

{% endblock %}
