{% extends '::base.html.twig' %}

{% block body %}
    {% include 'MajoredInMainBundle:Header:searchbar.html.twig' 
        with {'major': 'undeclared', 'location': 'everywhere', 'advancedBase': {}, 'layoutType': 'container-article'}
    %}
<div class="container-article">
    <div class="article-body row">
        <div class="span2"></div>
        <div class="span6">
        {% block article %}{% endblock %}
        </div>
    </div>
    {% include 'MajoredInMainBundle:Footer:footer.html.twig' 
        with {'simplyhired': false}
    %}
</div>
{% endblock %}