{% extends 'MajoredInMainBundle:Info:article.html.twig' %}

{% block title %}Attribution - MajoredIn{% endblock %}

{% block article %}

<h1 class="article-title">Attribution</h1>
<ul>
    <li><a href="http://www.awicons.com/">Icons by Lokas Software</a></li>
    <li><a STYLE="text-decoration:none" href="http://www.simplyhired.com/"><span>Jobs</span></a> by <a STYLE="text-decoration:none" href="http://www.simplyhired.com/"><span style="color: rgb(0, 159, 223); font-weight: bold;">Simply</span><span style="color: rgb(163, 204, 64); font-weight: bold;">Hired</span></a></li>
</ul>

{% endblock %}
