{% extends 'MajoredInMainBundle:Info:article.html.twig' %}

{% block title %}Frequently Asked Questions - MajoredIn{% endblock %}

{% block article %}

<h1 class="article-title">Frequently Asked Questions</h1>

<h5>Q. You can get jobs that aren't relevant to your major, why hold back students?</h5>
<p>We don't believe we are holding students back by giving them better insight to make the best choice for them. While in general, there are no limits to a college degree, many employers look for certain degrees. In addition, people often major in something because they like it, we want to support their passion and be a tool for them in their job hunt.</p>
<h5>Q. The results for my major were horrible. Fix it.</h5>
<p>We are constantly working to improve every major we have. Additionally, if you are not able to find many jobs in your major, there might just not be many jobs for it; you can't blame the website for that.</p>
<h5>Q. Why don't you have my major?</h5>
<p>There are two reasons for why we may not have your particular major:</p>
<ul><li>First, we may not be satisfied with the results we are getting. We do not want to introduce a new major if we are not completely satisfied with the results.</li>
<li>Second, it is possible we haven't gotten around to it yet</li></ul>
<h5>Q. When will you get my major?</h5>
<p>We are working very hard to provide every major offered by American colleges and universities. We recommend searching by a major whose title is closely related to yours.</p>
<h5>Q. Why are there some jobs that are not entry level?</h5>
<p>Because computers aren't perfect. Our algorithms try to find only jobs for new graduates, but sometimes things slip through the cracks.</p>
<p>We deeply apologize for any inconvenience and we assure you we are constantly working at making the website better.</p>
<h5>Q. I am a high school student, could I still use MajoredIn?</h5>
<p>Absolutely, one of the visions we had for the website is that it could help high school students or college students looking to choose a major understand the realities that will be there upon graduation.</p>
<p>Many colleges and universities advertise majors with very lofty careers and careers that require more education. For instance, it is common for colleges to say political science majors go on to become lawyers. Well, no law school in America requires any specific major. You can study anything and become a lawyer by that logic.</p>
<p>We wanted to make it so students can develop realistic expectations for entry level jobs.</p>
<h5>Q. What is the next step for MajoredIn?</h5>
<p>Majored In has the goal to become something special. We are constantly working on the next version of the website. Because projects sometimes get put on the back burner.</p>
<h5>Q. What is the best major to have?</h5>
<p>Honestly, whatever makes you happy. We are big fans of being an entrepreneur and not even using our website but charting your own course. However, we know this isn't for everyone. You can do the research to find the best paying major, etc. Nevertheless, figure out your passions and skills, and then go from there.</p>
<h5>Q. Why does my major not have very many results?</h5>
<p>Yes, some majors may have fewer results than others. This is likely due to supply and demand of potential candidates in the job market, which we do not control.</p>
<p>We recommend getting creative and developing skills that will increase your number of potential employers.</p>
<h5>Q. I applied for a job using your website and didn't get the job, what's the deal?</h5>
<p>Sorry to hear about that. We recommend working with your college career center. They are full of amazing people who can help you improve your cover letter and resume.</p>
<h5>Q. At what point should I stop using MajoredIn?</h5>
<p>MajoredIn is designed for entry level jobs and internships.</p>
<p>The moment you get your first "grown up" job is when you should stop using MajoredIn for your job hunting needs. In other words, when your "work experience" is higher than your "education" on your resume, it is time to move on from MajoredIn.</p>
<p>But please, let others know about us!</p>
<h5>Q. I double majored, why can't I choose more than one major?</h5>
<p>Our systems aren't capable of handling that yet. Hopefully in the future we will be able to provide that.</p>
<h5>Q. Why can't I choose more than one location?</h5>
<p>Our systems aren't capable of handling that yet. Hopefully in the future we will be able to provide that.</p>
<h5>Q. Why can't I select my concentration?</h5>
<p>Even though you can only search with one major, you can add in more specific search criteria (like a concentration) with the advanced search.</p>


{% endblock %}
