{% extends '::base.html.twig' %}

{% block title %}404 - MajoredIn{% endblock %}

{% block meta %}
    <meta name="description" content="" />
	<meta name="keywords" content="" />
    <meta name="robots" content="noindex" />
{% endblock %}
{% block opengraph %}{% endblock %}

{% block body %}
<div id="mi-container">
    {% include 'MajoredInMainBundle:Header:searchbar.html.twig' 
        with {'major': 'undeclared', 'location': 'everywhere', 'advancedBase': {}}
    %}
    <div class="article-body row">
        <div class="span2"></div>
        <div class="span6">
{% block article %}

<h1 class="article-title">404. Are you lost?</h1>
<p>Whoops, we have no idea where you were trying to go.  Whatever this page is, we don't know about it.</p>
<p>Try hitting the back button or using the links on this page to navigate back to real pages.</p>
<p>If a broken link sent you here please <a href="mailto:webmaster@majoredin.com">email us</a> which link it was.  We'll try to fix it ASAP.</p>


{% endblock %}
        </div>
    </div>
    {% include 'MajoredInMainBundle:Footer:footer.html.twig' 
        with {'simplyhired': true}
    %}
</div>
{% endblock %}
