<div class="social-sharing hidden hidden-phone">
    <ul>
        <li class="facebook">
            <a class="socialite facebook-like" href="http://www.facebook.com/sharer.php?u=http://www.majoredin.com&amp;t=MajoredIn" data-href="http://www.majoredin.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial" rel="nofollow" target="_blank">Like</a>
        </li>
        <li class="twitter">
            <a class="socialite twitter-share" href="http://twitter.com/share" data-url="http://www.majoredin.com" data-text="Find entry level jobs and internships by your college major" data-hashtags="jobsearch" rel="nofollow" target="_blank">Tweet</a>
        </li>
        <li class="googleplus">
            <a class="socialite googleplus-one" href="https://plus.google.com/share?url=http://www.majoredin.com" data-size="medium" data-href="http://www.majoredin.com" rel="nofollow" target="_blank">+1</a>
        </li>
        <li class="linkedin">
            <a class="socialite linkedin-share" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.majoredin.com&amp;title=MajoredIn" data-url="http://www.majoredin.com" data-counter="right" rel="nofollow" target="_blank">InShare</a>
        </li>
    </ul>
</div>