<div class="social-follow">
    {% spaceless %}
    <a class="facebook-follow" href="https://www.facebook.com/MajoredIn" target="_blank"></a>
    <a class="twitter-follow" href="https://twitter.com/Majored_In" target="_blank"></a>
    <a class="googleplus-follow" href="https://plus.google.com/b/105096370487794174619/105096370487794174619/posts" target="_blank"></a>
    <a class="linkedin-follow" href="http://www.linkedin.com/company/majoredin" target="_blank"></a>
    {% endspaceless %}
</div>