/web/bundles/
/web/js/*
/web/css/*
/web/cms/wp-content/uploads/*
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/bin/
/app/config/parameters.yml
/rsync_exclude.txt
/.settings
/.buildpath
/.project
/.externalToolBuilders
/*.bat
/phpunit.php
/app/console.bat
!.gitkeep

