{% extends '::base.html.twig' %}

{% block title %}{% if major != 'undeclared' %}{{ major|e|ucwords }} Major {% else %}Entry Level {% endif %}Jobs{% if location != 'everywhere' %} in {{ location|e|ucwords }}{% endif %} - MajoredIn{% endblock %}
{% block meta %}
    <meta name="description" content="" />
	<meta name="keywords" content="" />
    <meta name="robots" content="noindex" />
{% endblock %}

{% block body %}

{{ render(controller('MajoredInMainBundle:Layout:header', { 'major': major, 'location': location })) }}

<div id="content">
    <div class="container">
        <div class="row">
            <div id="main" class="span8 offset2">
            
                <h1 class="article-title">Sorry.  We couldn't find any jobs for you.</h1>
                <p>Is everything spelled correctly? You're probably a good speller, but it doesn't hurt to make sure.</p>
                <p>Did you go a little overboard with the advanced filters? Try removing a few of those if you have too many.</p>
                <p>If you're willing to commute a bit farther, try expanding your search radius by increasing the distance filter.</p>
                <p>Our servers might've screwed things up too; nothing you can do about that one.</p>

            </div>
        </div>
    </div>
</div>

{% endblock %}
