{% extends '::base.html.twig' %}

{% block title %}Gateway Timeout Error{% endblock %}
{% block meta %}
    <meta name="description" content="" />
	<meta name="keywords" content="" />
    <meta name="robots" content="noindex" />
{% endblock %}

{% block body %}

{{ render(controller('MajoredInMainBundle:Layout:header')) }}

<div id="content">
    <div class="container error504">
        <div class="row">
            <div id="main" class="span8 offset2">
            
                <h1 class="article-title">Simply Hired, you there?</h1>
                <p>Well this is embarrassing...</p>
                <p>We get all our jobs from Simply Hired, but they don't seem to be responding in a timely manner.</p>
                <p>Give it another shot, it may just be a temporary network blip.  If you still get this page they might be down right now though.</p>
                <p>We are terribly sorry about this.  Please don't hesitate to <a href="mailto:support@majoredin.com">email us</a> about this error.  We'll work with Simply Hired to fix it ASAP.</p>

            </div>
        </div>
    </div>
</div>

{% endblock %}
