<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}College Graduate Entry Level Jobs & Internships - MajoredIn{% endblock %}</title>
	{% block viewport %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	
{% block meta %}
    <meta name="description" content="Search a million entry level jobs and internships with your college major.  We show you jobs for recent college graduates with your specific college degree." />
    <meta name="keywords" content="entry level jobs, college graduate internships, entry level jobs for graduates, entry level job, college graduate jobs, college internships, find college graduate internships, find college graduate jobs" />
{% endblock %}

{% include '::favicon.html.twig' %}

{% block opengraph %}{% endblock %}

{% block stylesheets %}
{% include '::stylesheets.html.twig' %}
{% endblock %}

{% block google_analytics %}
{% include '::analytics.html.twig' %}
{% endblock %}

{% include '::globals.html.twig' %}

</head>
<body>
<div id="fb-root"></div>
{% block body %}
{% endblock %}    

{% block javascripts %}
{% include '::javascripts.html.twig' %}
{% endblock %}

</body>
</html>
