<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}Main Page Mobile{% endblock %}</title>
</head>
<body>
    <form action="{{ path('mi_jobs_redirect') }}" method="get">
        <label>Major:</label><textarea name="major" rows="6" cols="50"></textarea>
        <label>Location:</label><input type="text" name="location"/>
        <input type="submit" value="Submit">
    </form>
    <a href="{{ full_host }}{{ path('mi_main_homepage', {'device_view': 'full' }) }}">Full Site</a>
</body>
</html>
