parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     majoredin
    database_user:     root
    database_password: development
    
    slave_host:        127.0.0.1
    slave_port:        3306
    
    wp_auth_key:         ThisTokenIsNotSoSecretChangeIt
    wp_secure_auth_key:  ThisTokenIsNotSoSecretChangeIt
    wp_logged_in_key:    ThisTokenIsNotSoSecretChangeIt
    wp_nonce_key:        ThisTokenIsNotSoSecretChangeIt
    wp_auth_salt:        ThisTokenIsNotSoSecretChangeIt
    wp_secure_auth_salt: ThisTokenIsNotSoSecretChangeIt
    wp_logged_in_salt:   ThisTokenIsNotSoSecretChangeIt
    wp_nonce_salt:       ThisTokenIsNotSoSecretChangeIt
    
    wp_table_prefix:     miwp_
    
    memcached_driver:  memcache
    memcached_host:    127.0.0.1
    memcached_port:    11211
    
    java_exe:          /usr/bin/java

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    
    assets_version:    1.0.0
