parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     majoredin
    database_user:     root
    database_password: development
    
    slave_host:        127.0.0.1
    slave_port:        3306
    
    memcached_driver:  memcached
    memcached_host:    127.0.0.1
    memcached_port:    11211
    
    java_exe:          /usr/bin/java

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    
    assets_version:    1.0.0
