.article-body {
    padding-top: 10px;
}

.article-title {
    color: @filterLink;
    font-size: 22px;
    line-height: 30px;
}

.article-subtitle {
    color: @textColor;
    font-size: 16px;
    line-height: 20px;
}

@media only screen and (max-width: @phoneMedia) {
    .article-body {
        padding-top: 0;
    }
}
