#homepage-content-wrapper {
    width: 880px;
    margin: 0 auto;
    padding: 180px 0 100px;
}

#homepage-content {
    padding-left: (880 - @resultsWidth) / 2;
    
    #search-bar {
        .placeholding-input {
            input {
                border-color: darken(@searchInputBorder, 10%);
                .box-shadow(inset 1px 1px 2px rgba(0, 0, 0, .4));
                
                &:hover {
                    border-color: darken(@searchInputHover, 10%);
                }
                
                &:focus {
                    border-color: @linkColor;
                    .box-shadow(~"inset 1px 1px 2px rgba(0, 0, 0, .4), 0 0 4px rgba(82, 168, 236, .8)");
                }
            }
        
            .ie-input-focus {
                border: @linkColor;
                &:hover {
                    border-color: @linkColor;
                }
            }
            
            .placeholder {
                color: darken(@placeholderText, 10%);
            }
        }
    }
}
    
#homepage-logo {
    padding-bottom: 10px;
    width: @resultsWidth;
    
    a {
        display: block;
        width: 350px;
        height: 73px;
        margin: 0 auto;
        background-image: url("../img/logo_sprite.png");
        background-position: 0px 0px;
    }
}

#homepage-slogan {
    padding: 60px 0;
    margin: 0;
    color: @grayLight;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    font-weight: normal;
    letter-spacing: -0.5px;
    text-shadow: 1px 1px 0 @grayLighter;
    
}

#homepage-mobile {
    padding-bottom: 10px;
    text-align: center;
    margin-top: @baseLineHeight + 10;
}

#homepage {
    min-height: 100%;
    *height: 100%;
    position:relative;
}
 
#homepage-body {
    padding-bottom: 30px;
}
 
#homepage-footer {
    background-color: #eee;
    border-top: 1px solid #ccc;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30px;
    
    .links {
        float: right;
        color: @gray;
        padding: 5px 10px 5px 0;
        font-size: @baseFontSize - 1;
            
        a, span {
            color: @gray;
            padding: 0 8px;
            text-decoration: none;
        }
        
        a {
            border-left: 1px dotted @gray;
        }
        
        a:hover {
            text-decoration: underline;
        }
        
        .separator {
            margin: 0;
        }
    }
}

@media only screen and (max-width: @tabletMedia) {
    #homepage-content-wrapper {
        width: @resultsWidth;
        margin: 0 auto;
        padding: 180px 0 100px;
    }
    
    #homepage-content {
        padding-left: 0;
        
        #search-bar {
            #search-location {
                margin-right: 0;
            }
            
            .btn {
                .clearfix();
                display: block;
                width: @resultsWidth / 2 - 70;
                font-size: @baseFontSize + 2;
                line-height: @baseLineHeight + 5;
                margin: 30px auto 0 auto;
            }
            
            #advanced-search {
                right: 0;
            }
        }
    }
        
    #homepage-logo {
        width: auto;
    }
}

@media only screen and (max-width: @phoneMedia) { 
    #homepage-content-wrapper {
        float: none;
        display: block;
        width: 100%;
        .box-sizing(border-box);
        padding: 0 15px;
        margin: 0;
        border: 0;
    }
    
    #homepage-content {
        padding: 0;
        margin: 0;
        border: 0;
    }
        
    #homepage-logo {
        float: none;
        display: block;
        width: 100%;
        margin-left: 0;
        .box-sizing(border-box);
        padding: 40px 0 20px 0;
        
        a {
            display: block;
            width: 220px;
            height: 46px;
            margin: 0 auto;
            background-image: url("../img/logo_sprite.png");
            background-position: 0px -110px;
        }
    }
    
    #homepage-content {
        #search-bar {
            .placeholding-input {
                input {
                    font-size: @baseFontSize + 3;
                    line-height: @baseLineHeight + 5;
                    height: @baseLineHeight + 5 + @inputPaddingTB * 2;
                    margin-right: 0;
                    float: none;
                    display: block;
                    width: 100%;
                    margin-left: 0;
                    .box-sizing(border-box);
                }
                .placeholder {
                    font-size: @baseFontSize + 2;
                    height: @baseLineHeight + 5;
                    line-height: @baseLineHeight + 5;
                }
            }
            .btn {
                float: none;
                display: block;
                width: 100%;
                margin: 0;
                .box-sizing(border-box);
                font-size: @baseFontSize + 2;
                line-height: @baseLineHeight + 5;
            }
        }
    }
    
    #homepage-slogan {
        padding: 50px 0 0 0;
        font-size: 22px;
        letter-spacing: 0px;
        text-shadow: inherit;    
    }
    
    #homepage {
        min-height: 0;
        *height: auto;
        position: static;
    }
     
    #homepage-body {
        padding-bottom: 0;
    }
     
    #homepage-footer {
        background-color: transparent;
        border-top: 0;
        height: 40px;
        
        .links {
            float: none;
            padding: 10px;
            font-size: @baseFontSize;
                
            span {
                display: block;
                color: @grayLight;
                padding: 0;
                text-decoration: none;
                text-align: center;
            }
            
            a {
                display: none;
            }
            
            .separator {
                display: none;
            }
        }
    }
}