.pagination {
    margin: @baseLineHeight + 10 0;
}
    
.pagination ul {
    // Visuals
    .border-radius(0);
    .box-shadow(0 0 0 rgba(0,0,0,0));
}
.pagination ul > li > a,
.pagination ul > li > span {
    color: @white;
    background-color: lighten(@searchHeaderBackground, 10%);
    padding: 8px 12px;
    border: 2px solid @white;
    .border-radius(4px);
    
    &:hover,
    &:active,
    &:focus {
        background-color: darken(@searchHeaderBackground, 10%);
    }
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
    border-left: 0;
    .border-radius(4px);
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
    border-right: 0;
    .border-radius(4px);
}

.pagination ul > .active > a,
.pagination ul > .active > span {
    color: @white;
    background-color: darken(@searchHeaderBackground, 10%);
}

@media only screen and (max-width: 767px) {
    .pagination ul > li > a,
    .pagination ul > li > span {
        font-size: @baseFontSize + 2;
    }
}
