.social-wrapper-front {
    background-color: darken(@white,5%);
    border-bottom: 1px solid darken(@white,15%);
    border-top: 1px solid darken(@white,15%);
    padding: 15px 0 5px;
    min-height: 30px;
}

.social-wrapper-article {
    border-top: 1px solid darken(@white,15%);
    margin-top: 15px;
    padding-top: 10px;
    min-height: 30px;
}

.social-sharing {
    width: 440px;
    margin: 0 auto;
    .clearfix();
    
    .fb_iframe_widget span {
        vertical-align: top !important;
    }
    
    #___plusone_0 {
        margin-left: 20px !important;
    }
    
    .twitter-share-button {
        margin-left: 10px !important;
    }
    
    ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;
    }

    li {
        float: left;
        width: 110px;
        height: 30px;
        text-align: center;
    }
}

.social-follow {
    .followus {
        display: inline-block;
        .ie7-inline-block();
        .text-overflow();
        font-size: @baseFontSize;
        line-height: @baseLineHeight;
        font-weight: bold;
        margin-left: 3px;
    }
    
    a {
        display: inline-block;
        .ie7-inline-block();
        width: 36px;
        height: 36px;
        margin: 2px;
        background-image: url("../img/social_follow_sprite.png");
    }
    
    .facebook-follow {
        background-position: 0px 0px;
    }
    .twitter-follow {
        background-position: 0px -72px;
    }
    .googleplus-follow {
        background-position: 0px -144px;
    }
    .linkedin-follow {
        background-position: 0px -216px;
    }
    .pinterest-follow {
        background-position: 0px -288px;
    }
}

.modal {
    .social-sharing {
        padding-top: 10px;
    }
}

@media (max-width: 767px) {
    .social-sharing {
        width: 100%;
        margin: 0;
        
        #___plusone_0 {
            margin-left: 0px !important;
        }
        
        .twitter-share-button {
            margin-left: 0px !important;
        }
    
        li {
            text-align: left;
        }
    }
}

